<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список продуктов</title>
</head>
<body>
<h1>Это список продуктов</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Цена</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.title}">Notebook Lenovo</td>
        <td th:text="${product.cost}">1000</td>
    </tr>
    </tbody>
</table>
</body>
</html>
