<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма добавления студента</title>
</head>
<body>
<h1>Форма добавления студента</h1>
<form method="post" th:action="@{/add}">
    <label>
        id
        <input type="number" name="id">
    </label>
    <label>
        name
        <input type="text" name="name">
    </label>
    <label>
        score
        <input type="number" name="score">
    </label>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>
